<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <meta charset="UTF-8" />
        <title>Kirjoita uutinen</title>
    </head>
    <body>
        <p>
            <a th:href="@{/}">Palaa etusivulle</a>
        </p>

        <form th:action="@{/uutiset}" method="POST" enctype="multipart/form-data">

            Otsikko: <br/>
            <input type="text" name="title" placeholder="Otsikko"/>  <br/>
            Ingressi: <br/>
            <input type="textarea" name="lead" placeholder="Ingressi" /> <br/>
            Sisältö: <br/>
            <textarea name="mainText" placeholder="Sisältö"></textarea><br/>          
            Lisää kuva <br/>
            <input type="file" name="file" /> <br/>
            Valitse kategoria(t)<br/>



            <ul id="categoryList">
                <li th:each="category : ${categories}">
                    <input type="checkbox" th:value="${category.id}" name="category" />
                    <label  
                        th:text="${category.name}">Heating</label>
                </li>
            </ul>
            

            <br/>

            <input type="submit" value="Julkaise" /><br/>
        </form>

        <form th:action="@{/logout}" method="POST" sec:authorize="hasAuthority('POSTER')">
            <input type="submit" value="Kirjaudu ulos"></input>
        </form>

  
        <a th:href="@{/login}" sec:authorize="isAnonymous()">Kirjaudu sisään</a>
    </body>

</html>
