<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Lisää kuva!</title>
    </head>
    <body>
        <p>
            <a th:href="@{/}">Palaa etusivulle</a>
        </p>

        <form th:action="@{/images}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Send!"/>
        </form>
        
        <ul>
            <li th:each="image:${images}">
                <a th:href="@{/images/{id}(id=${image.id})}" th:text="${image.name}">LALAA
                </a>
            </li>
        </ul>


    </body>

</html>
