<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Uutissivu</title>
    </head>
    <body>

        <h1>Uutisia</h1>
        <ul>
            <li th:each="article: ${articles}">
                <a th:href="@{/uutiset/{id}(id=${article.id})}">
                    <span th:text="${article.title}">Otsikko</span> 
                </a>
                <span th:text="${article.lead}">Ingressi </span>
                <span th:text="${article.published}"></span>
            </li>                
        </ul>
        
        
        <form th:action="@{/lisaa}" method="GET">
            <input type="submit" value="Kirjoita uutinen" />
        </form>

    </body>

</html>
