<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${article.title}">Otsikko</title>
    </head>
    <body>
        <h1 th:text="${article.title}">Otsikko</h1>
        <p>Julkaistu: <span th:text="${#temporals.format(article.published, 'dd.MM.yyyy HH:mm')}">julkaistu </span><br/>
            <span th:if="${article.modified != null}">Muokattu viimeksi:  <span th:text="${#temporals.format(article.modified, 'dd.MM.yyyy HH:mm')}">Muokkaushetki</span></span>

        </p>
        <p><img th:src="@{~/images/{id}(id=${article.image.id})}" /></p>
        <p><em th:text="${article.lead}">   Ingressi  </em></p>
        <p th:text="${article.mainText}">
            Varsinainen teksti
        </p>


        <br/>
        Kirjoittanut: <ul>
            <li th:each="account : ${article.accounts}" th:text="${account.username}">Kirjoittaja</li>
        </ul>

        <h3>Kategoriat</h3>
        <ul>
            <li th:each="category: ${article.categories}" th:text="${category.name}">Kategorian nimi :))) </li>
        </ul>


        <p>
            Viikon sisällä uutinen luettu <span th:text="${article.viewCount}">117</span> kertaa. 
        </p>


        <div id="ajanMukaan">
            <h3>5 viimeisintä uutista: </h3>
            <ul>
                <li th:each="recentArticle : ${recentArticles}">
                    <a th:href="@{/uutiset/{id}(id=${recentArticle.id})}" th:text="${recentArticle.title}"> Otsikko
                    </a><span th:text="${#temporals.format(recentArticle.published, 'dd.MM.yyyy HH:mm')}">Päivämäärä</span>
                </li>
            </ul>
        </div>


        <div id="maaranMukaan">
            <h3>5 viikon luetuinta uutista</h3>
            <ul>
                <li th:each="popArticle : ${popularArticles}">
                    <a th:href="@{/uutiset/{id}(id=${popArticle.id})}" th:text="${popArticle.title}">Otsikko 
                    </a><span th:text="${#temporals.format(popArticle.published, 'dd.MM.yyyy HH:mm')}">Päivämäärä</span>
                </li>
            </ul>
        </div>


        <a th:href="@{/}">Palaa etusivulle</a>

        <form th:action="@{/logout}" method="POST" sec:authorize="hasAuthority('POSTER')">
            <input type="submit" value="Kirjaudu ulos"></input>
        </form>


        <a th:href="@{/login}" sec:authorize="isAnonymous()">Kirjaudu sisään</a>


    </body>

</html>
